<%- include('parts/header.ejs') %>

<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh; width: 100%; background-color: #212529;">
        <div class="col-2 border border-secondary border-1 rounded p-4 shadow-lg" style="background-color: #2B3035;">
            <form action="/login" method="POST">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                    <input type="email" class="form-control" placeholder="nome@email.com" name="email" aria-label="Email" aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-key"></i></span>
                    <input type="password" class="form-control" name="password" placeholder="senha" aria-label="Senha" aria-describedby="basic-addon1">
                </div>
                <a class="link-offset-2 link-underline link-underline-opacity-0" href="#">Esqueci minha Senha</a>
                <div class="col text-center pb-3"><button class="btn btn-primary mt-4" type="submit" style="width: 150px;">Login</button></div>  
              </form>
        </div>
    </div>
</body>